<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>Selecciona una imagen</h1>
    <h2>{{ user.email }}</h2>
    <a @click="logout">Cerrar Sesion</a>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Home',
  computed: {
    ...mapState(['user'])
  },
  methods: {
    ...mapActions(['logout'])
  }
}
</script>
