<template>
    <div class="login">
        <form @submit.prevent="login({email: email, password: password})">
            <h3>Iniciar Sesión</h3>
            <input type="email" v-model="email" placeholder="Email" name="email">
            <input type="password" v-model="password" placeholder="Contraseña">
            <button type="submit">Contectar</button>
            <p>¿No tienes una cuenta?, <router-link :to="{name:'signup'}">Créala</router-link></p>
        </form>
        <p>{{ error }}</p>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
    name: 'Login',
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        ...mapActions(['login']),
    },
    computed: {
        ...mapState(['error']),
        enable: () => {
            // return this.email.length > 0 && this.password.length >= 6
            return true
        }
    },
}
</script>

<style lang="stylus" scoped>
.login
    margin-top 40px
input 
    margin 0 auto
    margin-top 10px
    width 20%
    padding 15px
    display block
button 
    margin-top 20px
    width 10%
    cursor pointer
p 
    margin-top 40px
    font-size 13px
p a 
    text-decoration  underline 
    cursor pointer
</style>