<template>
    <div>
        <h3>Crea una cuenta</h3>
        <form @submit.prevent="signup({email: email, password: password})">
            <input type="email" v-model="email" placeholder="Email" name="email">
            <input type="password" v-model="password" placeholder="Contraseña">
            <button type="submit" :disabled="!enable" >Contectar</button>
            <p>¿Ya tienes una cuenta?, <router-link :to="{name:'login'}"> Inicia Sesion</router-link></p>
        </form>
        <p>{{ error }}</p>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
    name: 'Signup',
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        ...mapActions(['signup']),
    },
    computed: {
        ...mapState(['error']),
        enable: () => {
            // return this.email.length > 0 && this.password.length >= 6
            return true
        }
    },
}
</script>

<style lang="stylus" scoped>
.signup
    margin-top 40px
input 
    margin 0 auto
    margin-top 10px
    width 20%
    padding 15px
    display block
button 
    margin-top 10px
    width 10%
    cursor pointer
span
    display block
    margin-top 20px
    font-size 11px
</style>